@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.calculator {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 94%);
}

.calculator_container {
  width: 700px;
  background-color: hsl(0, 0%, 100%);
  border-block-end-style: initial;
  padding: 2rem;
  border-radius: 1rem;
  border-end-end-radius: 10rem;
}

/************ CALCULATOR FORM *************/
.calculator_form_inputs {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: hsl(0, 1%, 44%);
}

.calculator_form_input_heading {
  color: hsl(0, 1%, 44%);
  font-weight: bolder;
  font-size: 12px;
  margin-bottom: 8px;
  display: block;
  letter-spacing: 3px;
}

.calculator_form_input_heading_error {
  color: hsl(0, 100%, 67%);
}

.calculator_form_input_box {
  width: 7rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 86%);
}
.calculator_form_input_error {
  font-style: italic;
  color: hsl(0, 100%, 67%);
  display: flex;
  font-size: 10px;
  text-transform: capitalize;
  font-weight: light;
  margin-top: 10px;
}

.calculator_form_input_box:hover {
  border: 1px solid hsl(259, 100%, 65%);
}

.calculator_form_button_container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.calculator_form_button {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: hsl(259, 100%, 65%);
  border-style: none;
  cursor: pointer;
}
.calculator_form_button:hover {
  background-color: black;
}

.calculator_form_button_line {
  width: 90%;
}

/************ RESULT CONTAINER *************/
.result_container {
  margin-top: 15px;
  font-style: italic;
  font-size: 5rem;
  font-weight: 800;
}

.result_item_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.result_item {
  color: hsl(259, 100%, 65%);
  margin: 0;
}

.result_item_label {
  color: hsl(0, 0%, 8%);
  margin: 0;
}
@media screen and (max-width: 650px) {
    .calculator_form_button_container {
        display: grid;
      }
      .calculator_form_button {
       margin-left: 150px;
       margin-top: -30px;
      }
      .result_container {
        font-size: 3.5rem;
        font-weight: 700;
        margin-left: 70px;
      }
      .calculator_form_inputs {
        display: flex;
        gap: .5rem;
      }
}
